.twitter-typeahead * {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.twitter-typeahead {
	width: 100% !important;
}
.tt-query,
.tt-hint {
	padding: 6px;
	outline: none;
	width: 100% !important;
	vertical-align: inherit !important;
	background-color: #fff;
}

.tt-hint {
	color: #eee
}

.tt-dropdown-menu {
	width: 100%;
	margin-top: 12px;
	padding: 0;
	background-color: #fff;
	border: 1px solid #ccc;
	border: 1px solid rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
	-moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
	box-shadow: 0 5px 10px rgba(0,0,0,.2);
	text-shadow: none;
}

.tt-dropdown-menu p {
	margin: 5px 0 !important;
	line-height: 1.4 !important;
}

.tt-dropdown-menu a {
	color: #444 !important;
	border: 0 !important;
	display: block;
	text-decoration: none !important;
}
.tt-dropdown-menu .s-img {
	height: 50px !important;
	width: 50px !important;
	overflow: hidden;
	display: inline-block;
	float: left;
}
.tt-dropdown-menu .s-img img {
	width: auto;
	height: 50px;
}
.tt-dropdown-menu .s-title {
	overflow: hidden;
	display: inline-block;
	float: left;
	padding-left: 5px;
}

.tt-suggestion {
	padding: 5px;
	font-size: 14px;
	line-height: 18px;
	display: block;
	overflow: hidden;
}

.tt-suggestion.tt-is-under-cursor {
	color: #fff;
	background-color: #6DA67A;
}

.tt-suggestion.tt-is-under-cursor a {
	color: #fff !important;
}

.tt-suggestion p {
	margin: 0;
}

/* rtl support */
.twitter-typeahead.tt-rtl {
	direction: rtl;
}

.twitter-typeahead.tt-rtl .tt-dropdown-menu {
	left: auto;
	right: 0;
}